@model CRUDNETMVC.Models.Contacto
@{
    ViewData["Title"] = "Detalle contacto";
}

<h1 class="text-center">Contactos con .NET 8 (.NET Core MVC)</h1>

<div class="row">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h3 class="text-white"><strong>Detalle contacto</strong></h3>
            </div>
            <div class="card-body">
                <ul class="group-list">
                    <li class="list-group-item"><strong>Nombre: </strong>@Html.DisplayFor(c => c.Nombre)</li>
                    <li class="list-group-item"><strong>Teléfono: </strong>@Html.DisplayFor(c => c.Telefono)</li>
                    <li class="list-group-item"><strong>Celular: </strong>@Html.DisplayFor(c => c.Celular)</li>
                    <li class="list-group-item"><strong>Email: </strong>@Html.DisplayFor(c => c.Email)</li>
                    <li class="list-group-item"><strong>Fecha: </strong>@Html.DisplayFor(c => c.FechaCreacion)</li>
                </ul>
                <a asp-controller="Inicio" asp-action="Index">Volver</a>
            </div>
        </div>
    </div>
</div>